.calendar{
    padding: 50px;
}

.calendar__table {
    background-color: #fff;
    max-width: 1200px;
}

.calendar__item {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}


.calendar__item:hover {
    background-color: #f5f5f5;
}

.calendar_item__container {
    width: 150px;
    height: 130px;
    overflow: hidden;
}

.calendar__item-active {
    background-color: #eee;
}

.calendar_item__note_title,
.calendar_item__note_content {
    word-wrap: break-word;
}

.calendar_item__form {
    position: absolute;
    top: 40%;
    left: 0;
    display: none;
}

.calendar__item-active .calendar_item__form {
    display: block;
    z-index: 1;
}

.calendar_item__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 5;
}